# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

# Folders
bin
build
cmake-build-*
dump
python/inputs
results
xbuild
.idea
.ipynb_checkpoints
.vscode

#temporarily keep the doxygen files private
docs/html
docs/latex

# Other files
.DS_Store
*.xz
*.nb
*.lyx
*.dat
log*.txt
output.txt
*~
